<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
        <title>Login - HRMS admin template</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
		<!--[if lt IE 9]>
			<script src="{{ url_for('static', filename='assets/js/html5shiv.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/respond.min.js') }}"></script>
		<![endif]-->
    </head>
    <body>
        <div class="main-wrapper">
			<div class="account-page">
				<div class="container">
					<h3 class="account-title">Management Login</h3>
					<div class="account-box">
						<div class="account-wrapper">
							<div class="account-logo">
								<a href="index.html"><img src="{{ url_for('static', filename='assets/img/logo2.png') }}" alt="Project Management"></a>
							</div>
							<form>
								<div class="form-group form-focus">
									<label class="control-label">NIK</label>
									<input class="form-control floating" type="text" id="username" name="username">
								</div>
								<div class="form-group form-focus">
									<label class="control-label">Password</label>
									<input class="form-control floating" type="password" id="password" name="password">
								</div>
								<div class="form-group text-center">
									<button class="btn btn-primary btn-block account-btn" type="button" id="login">Login</button>
								</div>

								<div class="text-center">
									<a href="{{ url_for('forgotPasswd') }}">Forgot your password?</a>
								</div>
							</form>
							<br>
						</div>
					</div>
				</div>
			</div>
        </div>
		<div class="sidebar-overlay" data-reff="#sidebar"></div>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet"/>
		<script>
			$(document).ready(function(){
				$('#login').click(function(){
					var username = document.getElementById('username').value;
					var password = document.getElementById('password').value;

					data = {
						'username': username,
						'password': password
					}

					data_json = JSON.stringify(data);

					$.ajax({
						type: 'POST',
						url: '{{ url_for('loginCheck') }}',
						contentType: 'application/json;charset=UTF-8',
						data: data_json,
						success: function(resp){
							resp_json = JSON.parse(resp);

							if (resp_json['code'] == 200){
								swal({
                                	title: "Success Login",
                                	text: "Welcome to System Login Success",
                                	type: "success",
                                	allowOutsideClick: true,
                                	html: true
                              	},
                              	function (){
                                	window.location = '{{ url_for('dashboard') }}';
								});
							}else if (resp_json['code'] == 204){
								swal("Warning", "Not Correct Password Input", "warning");
							}else if (resp_json['code'] == 208){
								swal("Error!!", "Username Not Exist in System", "error");
							}
						},
						error: function(resp){
							alert("error");
						}
					});
				});
			});
		</script>
    </body>
</html>