{% extends "base/index.html" %}
{% block title %}Main Client{% endblock %}
{% block stylecss %}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/select2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
{% endblock %}
{{ super() }}
{% block webcontent %}
<div class="page-wrapper">
	<div class="content container-fluid">
		<a href="{{ url_for('projectTaskList') }}"><button type="button" class="close" data-dismiss="modal">&times;</button></a>
		<div class="modal-header">
			<h4 class="modal-title">Create Project Task</h4>
		</div>
		<div class="modal-body">
			<form>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Project Client</label>
							<select class="select" name="client_name" id="client_name">
								<option value="0">-- Select Project Client --</option>
								{% for client in allClient %}
								<option value="{{ client.client_id }}">{{ client.client_name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Project ID</label>
							<select class="select" name="pid" id="pid">
								<option value="0">-- Select Project ID --</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Category</label>
							<select class="select" name="status_project" id="status_project">
								<option value="0">-- Select Category Task --</option>
								{% for status in status %}
								<option value="{{ status.status_id }}">{{ status.status_name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Task Name</label>
							<select class="select" name="task_name" id="task_name">
								<option value="0">-- Select Task Project--</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Start Date</label>
							<div class="cal-icon"><input class="form-control datetimepicker" type="text" name="start_task" id="start_task"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>End Date</label>
							<div class="cal-icon"><input class="form-control datetimepicker" style="" type="text" name="end_task" id="end_task"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Start Date</label>
							<div class="cal-icon"><input class="form-control datetimepicker" type="text" name="target_task" id="target_task"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Assign Team</label>

							<div class="project-members" id="memberAdd">
								<!--<a href="#" data-toggle="modal" data-target="#assign_user">-->
									<!--<img src="{{ url_for('static', filename='assets/img/add2.png') }}" class="avatar" height="20" width="20">-->
								<!--</a>-->
								<input type="hidden" id="saveAdd" name="saveAdd">
								<button class="btn btn-primary" type="button" id="addAssignMember" name="addAssignMember"><span class="fa fa-plus"></span></button>
							</div>
						</div>
					</div>

				</div>
				<div class="form-group">
					<label>Description</label>
					<textarea rows="4" cols="5" class="form-control summernote" placeholder="Enter your message here" id="task_desec" name="task_desc"></textarea>
				</div>
				<div class="m-t-20 text-center">
					<button class="btn btn-primary" name="create_task" id="create_task" type="button">Create Task</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="assign_user" class="modal custom-modal fade center-modal" role="dialog">
	<div class="modal-dialog">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Assign the user to this project</h3>
			</div>
			<div class="modal-body">
				<div class="input-group m-b-30">
					<input placeholder="Search a user to assign" class="form-control search-input input-lg" id="btn-input" type="text">
					<span class="input-group-btn">
						<button class="btn btn-primary btn-lg">Search</button>
					</span>
				</div>
					<div>
						<ul class="media-list media-list-linked chat-user-list" id="elementAdd">
							<!--start show all member-->
							<!--this content to looping data-->
							<!--end show all member-->

						</ul>
					</div>
				<div class="m-t-50 text-center">
					<input class="form-control" id="employee_seleted" type="hidden" name="employee_seleted">
					<input class="form-control" id="employee_unseleted" type="hidden" name="employee_unseleted">
					<button class="btn btn-primary btn-lg" id="addTeamProject">Assign Task</button>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/dataTables.bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet"/>
<script type="text/javascript">
	$(document).ready(function(){
			$("#province").change(function(){
				var prov = $(this).val();
				$.ajax({
					type: "GET",
					url: "http://localhost:14045/city/detail/"+prov,
					success: function(res){
						data = JSON.parse(res);

						(function() {
    						var elm = document.getElementById('city'),
        						df = document.createDocumentFragment();
        					$('#city')
    							.find('option')
    							.remove()
    							.end();
    						for (var i = 0; i < data.length; i++) {
        						var option = document.createElement('option');
        						option.value = data[i]['city_code'];
        						option.appendChild(document.createTextNode(data[i]['city_name']));
        						df.appendChild(option);
    						}
    						elm.appendChild(df);
							}());
					}
				});
			});
		});

		$(document).ready(function(){
			$('#client_name').change(function(){
				document.getElementById("status_project").value = "0";
				document.getElementById("task_name").value = "0";
				var client_name = $(this).val();
				if (client_name != "0"){
					$.ajax({
					type: "GET",
					url: "http://localhost:14045/projectid/detail/"+client_name,
					success: function(res){
						data = JSON.parse(res);

						(function() {
    						var elm = document.getElementById('pid'),
        						df = document.createDocumentFragment();
        					$('#pid')
    							.find('option')
    							.remove()
    							.end();
    						for (var i = 0; i < data.length; i++) {
        						var option = document.createElement('option');
        						option.value = data[i]['project_id'];
        						option.appendChild(document.createTextNode(data[i]['pid']));
        						df.appendChild(option);
    						}
    						elm.appendChild(df);
							}());
						}
					});
				}else{
					document.getElementById('pid').value = "No Found data";
				}

			});
		});

		$(document).ready(function(){
			$('#pid').change(function(){
				document.getElementById("status_project").value = "0";
				document.getElementById("task_name").value = "0";
			});
		});

		$(document).ready(function(){
			$('#status_project').change(function(){
				var category = $(this).val();
				var project_id = document.getElementById('pid').value;

				$.ajax({
					type: 'GET',
					url: "http://localhost:14045/task/project/"+project_id+"/"+category,
					success: function(res){
						data = JSON.parse(res);

						(function() {
    						var elm = document.getElementById('task_name'),
        						df = document.createDocumentFragment();
        					$('#task_name')
    							.find('option')
    							.remove()
    							.end();
    						for (var i = 0; i < data.length; i++) {
        						var option = document.createElement('option');
        						option.value = data[i]['master_task_id'];
        						option.appendChild(document.createTextNode(data[i]['task_name']));
        						df.appendChild(option);
    						}
    						elm.appendChild(df);
							}());

					},
					error: function(data){
						console.log(data);
					}
				});
			});
		});

		$(document).ready(function(){
			$('#addAssignMember').click(function(){
				var id_project = document.getElementById('pid').value;

				$.ajax({
					type: 'GET',
					url: 'http://localhost:14045/project/team/'+id_project,
					success: function(data){
						data_tojson = JSON.parse(data);
						var length_data = data_tojson.length;
						var checkName = "check";

						$("li").remove(".media");

						for (var i = 0; i < data_tojson.length; i++){
							var teamproject_id = data_tojson[i]['teamproject_id'];
							var employee_id = data_tojson[i]['employee_id'];
							var email = data_tojson[i]['email'];
							var firstname = data_tojson[i]['firstname'];
							var lastname = data_tojson[i]['lastname'];
							var title_name = data_tojson[i]['title_name'];
							var project_id = data_tojson[i]['project_id'];
							var initial = data_tojson[i]['initial'];

							var newItem = document.createElement("LI");
							newItem.className = "media";

							var atag = document.createElement('a');
							atag.className = "media-link";

							var divLeft = document.createElement('div');
							divLeft.className = "media-left";
							var checkbox = document.createElement("input");
							checkbox.setAttribute("type", "checkbox");
							checkbox.setAttribute("name", checkName+length_data);
							checkbox.setAttribute("id", checkName+length_data);
							checkbox.setAttribute("value", teamproject_id);
							checkbox.setAttribute("class", "team_project");
							divLeft.appendChild(checkbox);


							var divAvatar = document.createElement('div');
							divAvatar.className = "media-left";

							var spanAvatar = document.createElement('span');
							spanAvatar.className = "avatar";
							spanAvatar.appendChild(document.createTextNode(initial));

							var divBody = document.createElement('div');
							divBody.className += "media-body";
							divBody.className += " media-middle";
							divBody.className += " text-nowrap";

							var divBodyName = document.createElement('div');
							divBodyName.className = "user-name";
							divBodyName.appendChild(document.createTextNode(firstname+" "+lastname));

							var spanTitle = document.createElement('span');
							spanTitle.className = "designation";
							spanTitle.appendChild(document.createTextNode(title_name+" |"));

							var spanEmail = document.createElement('span');
							spanEmail.className = "designation";
							spanEmail.appendChild(document.createTextNode(" "+email));

							divAvatar.appendChild(spanAvatar);
							divBody.appendChild(divBodyName);
							divBody.appendChild(spanTitle);
							divBody.appendChild(spanEmail);

							var append1 = newItem.appendChild(atag);
							var append2 = append1.appendChild(divLeft);
							var append4 = append1.appendChild(divAvatar);
							var append5 = append1.appendChild(divBody);

							var list = document.getElementById('elementAdd');
							list.insertBefore(newItem, list.childNodes[0]);
						}
						$('#assign_user').modal('show');
					},
					error: function(data){
						alert(data);
					}
				});
			});
		});

		$(document).ready(function(){
			$('#addTeamProject').click(function(){
				var check = []
				var inputElements = document.getElementsByClassName('team_project');
				for (var i = 0; inputElements[i]; i++){
					if(inputElements[i].checked){
						valueChecked = inputElements[i].value;
						check.push(valueChecked);
						document.getElementById('saveAdd').value = check.join(",");

					}
				}

				console.log(document.getElementById('saveAdd').value);

				for (var i = 0; i < check.length; i++){

					var teamproject = check[i];

					$.ajax({
						type: 'GET',
						url: 'http://localhost:14045/project/detailteam/'+teamproject,
						success: function(data){
							data_json = JSON.parse(data);
							var firstname = data_json[0]['firstname'];
							var lastname = data_json[0]['lastname']

							var itemA = document.createElement("a");
							itemA.setAttribute("href", "#");
							itemA.setAttribute("data-toggle", "dropdown");
							itemA.setAttribute("title", firstname+" "+lastname);


							var itemImg = document.createElement("img");
							itemImg.className = "avatar";
							itemImg.setAttribute("src", "{{ url_for('static', filename='assets/img/user.jpg') }}");
							itemImg.setAttribute("alt", firstname+" "+lastname);
							itemImg.setAttribute("width", "20");
							itemImg.setAttribute("height", "20");


							itemA.appendChild(itemImg);


							var list = document.getElementById('memberAdd');
							list.insertBefore(itemA, list.childNodes[0]);


						}
					});
				}

				swal({
    					title: 'Success',
    					text: 'Assign to Team Project Success',
    					type: 'success',
    					allowOutsideClick: true,
    					html: true
						},
						function () {
    						$('#assign_user').modal('hide');
    						document.getElementById('addAssignMember').disabled = true;

				});


			});
		});


		$(document).ready(function(){
			$('#create_task').click(function(){
				var project_id = document.getElementById('pid').value;
				var task_startDate = document.getElementById('start_task').value;
				var task_endDate = document.getElementById('end_task').value;
				var task_target = document.getElementById('target_task').value;
				var task_id = document.getElementById('task_name').value;
				var task_description = document.getElementById('task_desec').value;
				var task_assign = document.getElementById('saveAdd').value;

				data = {
					'project_id': project_id,
					'task_startDate': task_startDate,
					'task_endDate': task_endDate,
					'task_target': task_target,
					'task_id': task_id,
					'task_description': task_description,
					'assign_array': task_assign
				}
				json_task_data = JSON.stringify(data);

				$.ajax({
					type: 'POST',
					url: '{{ url_for('taskInsert') }}',
					contentType: 'application/json;charset=UTF-8',
					data: json_task_data,
					success: function(data){
						res_json = JSON.parse(data);
						console.log(res_json);

						if (res_json['code'] == 200){
							swal({
    							title: 'Success',
    							text: 'Add New Task Planning to System',
    							type: 'success',
    							allowOutsideClick: true,
    							html: true
								},
								function () {
    							window.location.href = "{{ url_for('projectTaskList') }}"
							});
						}else{
							alert('Error');
						}


					},
					error: function(data){
						console.log(data);
					}
				});
			});
		});


</script>
{% endblock %}
