{% extends "base/index.html" %}
{% block title %}{% endblock %}
{% block stylecss %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/select2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
{% endblock %}
{{ super() }}
{% block webcontent %}
    <div class="page-wrapper">
        <div class="content container-fluid">
            <a href="{{ url_for('problemAll') }}"><button type="button" class="close" data-dismiss="modal">&times;</button></a>
            <div class="modal-header">
                <h4 class="modal-title">Add Problem Log</h4>
            </div>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Project Client</label>
                            <select class="select" id="client_id" name="client_id">
                                <option value="0">-- Select Project Client --</option>
                                {% for client in getClientProject %}
                                <option value="{{ client.client_id }}">{{ client.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Project ID</label>
                            <select class="select" id="prl_pid" name="prl_pid">
                                <option value="0">-- Select Project ID --</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>PRL Name</label>
                            <input type="text" class="form-control" name="taskname" id="taskname">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Start Date</label>
                            <div class="cal-icon"><input class="form-control datetimepicker" type="text" id="start_date" name="start_date"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
							<div class="form-group">
								<label>End Date</label>
								<div class="cal-icon"><input class="form-control datetimepicker" style="" type="text" id="end_date" name="end_date"></div>
							</div>
						</div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Target Date</label>
                            <div class="cal-icon"><input class="form-control datetimepicker" style="" type="text" name="target_date" id="target_date"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Assign Team</label>
                            <div class="project-members" id="memberAdd">
                                <input type="hidden" id="saveAdd" name="saveAdd">
                                <button class="btn btn-primary" type="button" id="addAssignMember" name="addAssignMember"><span class="fa fa-plus"></span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea rows="4" cols="5" class="form-control" placeholder="Enter your message here" id="description" name="description"></textarea>
                </div>
                <div class="m-t-20 text-center">
                    <button class="btn btn-primary" id="create_problem" name="create_problem" type="button">Create Problem Log</button>
                </div>
            </form>
        </div>
    </div>
<div id="assign_user" class="modal custom-modal fade center-modal" role="dialog">
	<div class="modal-dialog">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Assign the user to this Problem Log</h3>
			</div>
			<div class="modal-body">
				<div class="input-group m-b-30">
					<input placeholder="Search a user to assign" class="form-control search-input input-lg" id="btn-input" type="text">
					<span class="input-group-btn">
						<button class="btn btn-primary btn-lg">Search</button>
					</span>
				</div>
					<div>
						<ul class="media-list media-list-linked chat-user-list" id="elementAdd">
							<!--start show all member-->
							<!--this content to looping data-->
							<!--end show all member-->

						</ul>
					</div>
				<div class="m-t-50 text-center">
					<input class="form-control" id="employee_seleted" type="hidden" name="employee_seleted">
					<input class="form-control" id="employee_unseleted" type="hidden" name="employee_unseleted">
					<button class="btn btn-primary btn-lg" id="addTeamProject">Assign Task</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/dataTables.bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/select2.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/moment.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap-datetimepicker.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet"/>
    <script type="text/javascript">

        $(document).ready(function(){
            $('#client_id').change(function(){
                var clientid = $(this).val();
                console.log(clientid);
                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:14045/problem/getpid/'+clientid,
                    success: function(resp){
                        resp_json = JSON.parse(resp);

                        console.log(resp_json);
                        (function() {
    						var elm = document.getElementById('prl_pid'),
        						df = document.createDocumentFragment();
        					$('#prl_pid')
    							.find('option')
    							.remove()
    							.end();

    							var option = document.createElement('option');
        						option.value = "0";
        						option.appendChild(document.createTextNode("-- Select Project ID --"));
        						df.appendChild(option);
    						for (var i = 0; i < resp_json.length; i++) {
        						var option = document.createElement('option');
        						option.value = resp_json[i]['project_id'];
        						option.appendChild(document.createTextNode(resp_json[i]['pid']));
        						df.appendChild(option);
    						}
    						elm.appendChild(df);
						}());
                    },
                    error: function(resp){

                    }
                });
            });
        });

        $(document).ready(function(){
			$('#addAssignMember').click(function(){
				var id_project = document.getElementById('prl_pid').value;

				$.ajax({
					type: 'GET',
					url: 'http://localhost:14045/project/team/'+id_project,
					success: function(data){
						data_tojson = JSON.parse(data);
						var length_data = data_tojson.length;
						var checkName = "check";

						$("li").remove(".media");

						for (var i = 0; i < data_tojson.length; i++){
							var teamproject_id = data_tojson[i]['teamproject_id'];
							var employee_id = data_tojson[i]['employee_id'];
							var email = data_tojson[i]['email'];
							var firstname = data_tojson[i]['firstname'];
							var lastname = data_tojson[i]['lastname'];
							var title_name = data_tojson[i]['title_name'];
							var project_id = data_tojson[i]['project_id'];
							var initial = data_tojson[i]['initial'];

							var newItem = document.createElement("LI");
							newItem.className = "media";

							var atag = document.createElement('a');
							atag.className = "media-link";

							var divLeft = document.createElement('div');
							divLeft.className = "media-left";
							var checkbox = document.createElement("input");
							checkbox.setAttribute("type", "checkbox");
							checkbox.setAttribute("name", checkName+length_data);
							checkbox.setAttribute("id", checkName+length_data);
							checkbox.setAttribute("value", teamproject_id);
							checkbox.setAttribute("class", "team_project");
							divLeft.appendChild(checkbox);


							var divAvatar = document.createElement('div');
							divAvatar.className = "media-left";

							var spanAvatar = document.createElement('span');
							spanAvatar.className = "avatar";
							spanAvatar.appendChild(document.createTextNode(initial));

							var divBody = document.createElement('div');
							divBody.className += "media-body";
							divBody.className += " media-middle";
							divBody.className += " text-nowrap";

							var divBodyName = document.createElement('div');
							divBodyName.className = "user-name";
							divBodyName.appendChild(document.createTextNode(firstname+" "+lastname));

							var spanTitle = document.createElement('span');
							spanTitle.className = "designation";
							spanTitle.appendChild(document.createTextNode(title_name+" |"));

							var spanEmail = document.createElement('span');
							spanEmail.className = "designation";
							spanEmail.appendChild(document.createTextNode(" "+email));

							divAvatar.appendChild(spanAvatar);
							divBody.appendChild(divBodyName);
							divBody.appendChild(spanTitle);
							divBody.appendChild(spanEmail);

							var append1 = newItem.appendChild(atag);
							var append2 = append1.appendChild(divLeft);
							var append4 = append1.appendChild(divAvatar);
							var append5 = append1.appendChild(divBody);

							var list = document.getElementById('elementAdd');
							list.insertBefore(newItem, list.childNodes[0]);
						}
						$('#assign_user').modal('show');
					},
					error: function(data){
						alert(data);
					}
				});
			});
		});

		$(document).ready(function(){
			$('#addTeamProject').click(function(){
				var check = []
				var inputElements = document.getElementsByClassName('team_project');
				for (var i = 0; inputElements[i]; i++){
					if(inputElements[i].checked){
						valueChecked = inputElements[i].value;
						check.push(valueChecked);
						document.getElementById('saveAdd').value = check.join(",");

					}
				}

				console.log(document.getElementById('saveAdd').value);

				for (var i = 0; i < check.length; i++){

					var teamproject = check[i];

					$.ajax({
						type: 'GET',
						url: 'http://localhost:14045/project/detailteam/'+teamproject,
						success: function(data){
							data_json = JSON.parse(data);
							var firstname = data_json[0]['firstname'];
							var lastname = data_json[0]['lastname']

							var itemA = document.createElement("a");
							itemA.setAttribute("href", "#");
							itemA.setAttribute("data-toggle", "dropdown");
							itemA.setAttribute("title", firstname+" "+lastname);


							var itemImg = document.createElement("img");
							itemImg.className = "avatar";
							itemImg.setAttribute("src", "{{ url_for('static', filename='assets/img/user.jpg') }}");
							itemImg.setAttribute("alt", firstname+" "+lastname);
							itemImg.setAttribute("width", "20");
							itemImg.setAttribute("height", "20");


							itemA.appendChild(itemImg);


							var list = document.getElementById('memberAdd');
							list.insertBefore(itemA, list.childNodes[0]);


						}
					});
				}

				swal({
    					title: 'Success',
    					text: 'Assign to Team Project Success',
    					type: 'success',
    					allowOutsideClick: true,
    					html: true
						},
						function () {
    						$('#assign_user').modal('hide');
    						document.getElementById('addAssignMember').disabled = true;

				});


			});
		});

		$(document).ready(function(){
		    $('#create_problem').click(function(){
                var client_id = document.getElementById('client_id').value;
                var prl_pid = document.getElementById('prl_pid').value;
                var taskname = document.getElementById('taskname').value;
                var start_date = document.getElementById('start_date').value;
                var end_date = document.getElementById('end_date').value;
                var target_date = document.getElementById('target_date').value;
                var saveAdd = document.getElementById('saveAdd').value;
                var description = document.getElementById('description').value;

                data_problemlog = {
                    'client_id': client_id,
                    'prl_pid': prl_pid,
                    'taskname': taskname,
                    'start_date': start_date,
                    'end_date': end_date,
                    'target_date': target_date,
                    'array_assign': saveAdd,
                    'description': description
                }



                data_problemlog_json = JSON.stringify(data_problemlog);

                console.log(data_problemlog_json);
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for('problemAddNew') }}',
                    contentType: 'application/json;charset=UTF-8',
                    data: data_problemlog_json,
                    success: function(resp){
                        resp_json_problem = JSON.parse(resp);

                        if (resp_json_problem['code'] == 200){
							swal({
    							title: 'Success',
    							text: 'Add New Problem Log to System',
    							type: 'success',
    							allowOutsideClick: true,
    							html: true
								},
								function () {
    							window.location.href = "{{ url_for('problemAll') }}"
							});
						}else{
							swal({
    							title: 'Warning !!',
    							text: 'Failed add New Problem Log to System',
    							icon: 'warning',
    							allowOutsideClick: true,
    							html: true
							});
						}
                    },
                    error: function(resp){
                        console.log(resp);
                    }
                });
		    });
		});
    </script>
{% endblock %}