{% extends "base/index.html" %}
{% block title %}Main Project{% endblock %}
{% block stylecss %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/select2.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap-datetimepicker.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/plugins/summernote/dist/summernote.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
{% endblock %}
{{ super() }}
{% block webcontent %}
        <div class="page-wrapper">
			<div class="content container-fluid">

				<a href="{{ url_for('projectApprove') }}"><button type="button" class="close" data-dismiss="modal">&times;</button></a>

						<div class="modal-header">
							<h4 class="modal-title">Approval Project</h4>
						</div>
						<div class="modal-body">
							<form id="approve_project" method="post" enctype="multipart/form-data">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Project ID</label>
                                            <input class="form-control" type="hidden" name="project_id" id="project_id">
											<input class="form-control" type="text" name="pid" id="pid" disabled>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Client</label>
											<select class="select" name="client_name" id="client_name" disabled>
												<option value="0">-- Select Client --</option>
												{% for client in client %}
												<option value="{{ client.client_id }}">{{ client.client_name }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Project Name</label>
											<input class="form-control" type="text" name="project_name" id="project_name" disabled>
										</div>
									</div>
									<div class="col-md-6">
										<label>Project Manager</label>
										<div class="project-members">
											<select class="select" name="project_manager" id="project_manager" disabled>
												<option value="0">-- Select Project Manager --</option>
												{% for pm in pm %}
												<option value="{{ pm.employee_id }}">{{ pm.firstname }} {{ pm.lastname }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Start Date</label>
											<div class="cal-icon"><input class="form-control datetimepicker" type="text" name="start_project" id="start_project"></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>End Date</label>
											<div class="cal-icon"><input class="form-control datetimepicker" style="" type="text" name="end_project" id="end_project"></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<label>Mandays</label>
											<input placeholder="Mandays" class="form-control" type="text" name="mandays" id="mandays" disabled>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label>&nbsp;</label>
											<select class="select" disabled>
												<option>Mandays</option>
												<option>Hour</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Priority</label>
											<select class="select" name="priority" id="priority">
												<option value="High">High</option>
												<option value="Medium">Medium</option>
												<option value="Low">Low</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
                                        <label>Contract Document</label>
										<div class="files-cont">
												<div class="file-type">
													<span class="files-icon"><i class="fa fa-file-pdf-o"></i></span>
												</div>
												<div class="files-info">
                                                    <span class="file-name text-ellipsis"><a id="doc_link"><span id="doc_name"></span></a></span>
													<span class="file-author"><a href="#">John Doe</a></span> <span class="file-date">May 31st at 6:53 PM</span>
                                                    <div class="file-size">Size: <span id="doc_size"></span></div>
												</div>
												<ul class="files-action">
													<li class="dropdown">
														<a href="" class="dropdown-toggle btn btn-default btn-xs" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
														<ul class="dropdown-menu">
															<li><a href="javascript:void(0)">Download</a></li>
															<li><a href="#" data-toggle="modal" data-target="#share_files">Share</a></li>
															<li><a href="javascript:void(0)">Delete</a></li>
														</ul>
													</li>
												</ul>
											</div>
									</div>
                                    <div class="col-md-6">
                                        <label>Approve Project</label>
                                        <select class="select" name="status" id="status">
											<option value="0">-- Select Project Approve --</option>
                                            <option value="PRST00002">Approve</option>
											<option value="PRST00003">Reject</option>
                                        </select>
                                    </div>
								</div>
                                <br>
								<div class="form-group">
									<label>Description</label>
									<textarea rows="4" cols="5" class="form-control summernote" placeholder="Enter your message here" name="desc" id="desc"></textarea>
								</div>
								<div class="m-t-20 text-center">
									<button class="btn btn-primary" type="button" id="btnApprove">Update Project</button>
								</div>
							</form>
						</div>
            </div>
        </div>
{% endblock %}
{% block js %}
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/select2.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/moment.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap-datetimepicker.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/plugins/summernote/dist/summernote.min.js') }}"></script>
        <script>
		$(document).ready(function(){
			$('.summernote').summernote({
				height: 200,                 // set editor height
				minHeight: null,             // set minimum height of editor
				maxHeight: null,             // set maximum height of editor
				focus: false                 // set focus to editable area after initializing summernote
			});
		});

		var data = JSON.parse({{ listDetProject|tojson|safe }});

		document.getElementById('project_id').value = data[0]['project_id'];
		document.getElementById('pid').value = data[0]['pid'];
		document.getElementById('client_name').value = data[0]['client_id'];
		document.getElementById('project_name').value = data[0]['project_name'];
		document.getElementById('project_manager').value = data[0]['project_manager'];
		document.getElementById('start_project').value = data[0]['startDate'];
		document.getElementById('end_project').value = data[0]['endDate'];

		document.getElementById('mandays').value = data[0]['mandays'];
		document.getElementById('priority').value = data[0]['priority'];
		document.getElementById('doc_name').innerHTML = data[0]['doc_project'];
		var link = document.getElementById('doc_link');
		link.href = data[0]['doc_project'];
		document.getElementById('doc_size').innerHTML = data[0]['doc_size'];
		document.getElementById('desc').value = data[0]['description'];

		$(function(){
		    $('#btnApprove').click(function(){
		        var project_id = document.getElementById('project_id').value;
		        var startDate = document.getElementById('start_project').value;
		        var endDate = document.getElementById('end_project').value;
		        var priority = document.getElementById('priority').value;
		        var project_status = document.getElementById('status').value;
		        project_data = {
		            'project_id': project_id,
		            'startDate': startDate,
		            'endDate': endDate,
		            'priority': priority,
		            'project_status': project_status
		        };
		        data = JSON.stringify(project_data);
		        $.ajax({
                    type : 'POST',
                    url : "{{url_for('projectApproveData')}}",
                    contentType: 'application/json;charset=UTF-8',
                    data : data,
                    success: function(data){
                        response = JSON.parse(data);
                        console.log(response['code']);
                        if (response['code'] == 200){
                            JSalert();
                            function JSalert(){
                            swal("Congrats!", " Data Success created to System ", "success")
                            .then(willRedirect => {
                                if (willRedirect){
                                    window.location.href = "{{ url_for('projectApprove') }}";
                                }
                            });
                            }
                        }
                    },
                    error: function(data){
                        console.log(data);
                    }
                   });

		    });
		});
        </script>
{% endblock %}