{% extends "base/index.html" %}
{% block title %}{% endblock %}
{% block stylecss %}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/dataTables.bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/select2.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
{% endblock %}
{{ super() }}
{% block webcontent %}
	<div class="page-wrapper">
		<div class="content container-fluid">
			<div class="row">
				<div class="col-xs-8">
							<h4 class="page-title">Project Request</h4>
						</div>
				<div class="col-xs-4 text-right m-b-30">
						</div>
			</div>
			<div class="row filter-row">
				<div class="col-sm-3 col-md-2 col-xs-6">
					<div class="form-group form-focus">
					<label class="control-label">Client Name</label>
					<input type="text" class="form-control floating" />
					</div>
                </div>
                <div class="col-sm-3 col-md-2 col-xs-6">
					<div class="form-group form-focus select-focus">
						<label class="control-label">Project Name</label>
						<select class="select floating">
							<option value=""> -- Select -- </option>
							<option value="">Casual Leave</option>
							<option value="1">Medical Leave</option>
							<option value="1">Loss of Pay</option>
						</select>
					</div>
                </div>
                <div class="col-sm-3 col-md-2 col-xs-6">
					<div class="form-group form-focus select-focus">
						<label class="control-label">Project Status</label>
						<select class="select floating">
							<option value=""> -- Select -- </option>
							<option value="0"> Pending </option>
							<option value="1"> Approved </option>
							<option value="2"> Rejected </option>
						</select>
					</div>
                </div>
				<div class="col-sm-3 col-md-2 col-xs-6">
					<div class="form-group form-focus">
						<label class="control-label">From</label>
						<div class="cal-icon"><input class="form-control floating datetimepicker" type="text"></div>
					</div>
				</div>
				<div class="col-sm-3 col-md-2 col-xs-6">
					<div class="form-group form-focus">
						<label class="control-label">To</label>
							<div class="cal-icon"><input class="form-control floating datetimepicker" type="text"></div>
					</div>
				</div>
                <div class="col-sm-3 col-md-2 col-xs-6">
                    <a href="#" class="btn btn-success btn-block"> Search </a>
                </div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-striped custom-table m-b-0 datatable">
							<thead>
										<tr>
											<th>No.</th>
											<th>Client</th>
											<th>Project Name</th>
											<th>Project ID</th>
											<th>Start Date</th>
											<th>End Date</th>
											<th class="text-center">Mandays</th>
											<th class="text-center">Status</th>
											<th class="text-right">Actions</th>
										</tr>
									</thead>
							<tbody>
							{% for project in listNewProject %}
							<tr>
								<td>{{ loop.index }}</td>
								<td>
									<h2><a>{{ project.client_name }}</a></h2>
								</td>
								<td>{{ project.project_name }}</td>
								<td>{{ project.pid }}</td>
								<td>{{ project.startDate }}</td>
								<td>{{ project.endDate }}</td>
								<td class="text-center">{{ project.mandays }}</td>
								<td class="text-center">
									<div class="dropdown action-label">
										<a class="btn btn-white btn-sm rounded" aria-expanded="false">
											<i class="fa fa-dot-circle-o text-purple"></i> {{ project.status_name }}
										</a>
									</div>
								</td>
								<td class="text-right">
									<div class="dropdown">
										<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
										<ul class="dropdown-menu pull-right">
											<li><a href="{{ url_for('projectApproveDet', projectid=project.project_id) }}" title="Edit"><i class="fa fa-check m-r-5"></i> Approve</a></li>
										</ul>
									</div>
								</td>
							</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.dataTables.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/dataTables.bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/select2.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/moment.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap-datetimepicker.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
{% endblock %}