{% extends "base/index.html" %}
{% block title %}Edit Client{% endblock %}
{% block stylecss %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/select2.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap-datetimepicker.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/plugins/summernote/dist/summernote.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
{% endblock %}
{{ super() }}
{% block webcontent %}
<div class="page-wrapper">
	<div class="content container-fluid">
        <div class="">
            <a href="{{ url_for('divAll') }}"><button type="button" class="btn btn-primary">Back</button></a>
        </div>
        <div class="modal-body">
		    <div class="m-b-30">
                <form action="{{ url_for('divDelete') }}" method="POST">
					<div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
							    <label>Department <span class="text-danger">*</span></label>
								<input type="hidden" id="divNo" name="divNo" class="form-control" disabled>
								<select class="select" name="dept" id="dept" disabled>
									<option value="0">-- Select Department --</option>
							    	{% for deptName in deptName %}
									<option value="{{ deptName.department_id }}">{{ deptName.department_name }}</option>
									{% endfor %}
								</select>
							</div>
                        </div>
						<div class="col-md-6">
						<div class="form-group">
                            <label>Division Name <span class="text-danger">*</span></label>
							<input class="form-control" type="text" id="divName" name="divName" disabled>
						</div>
					    </div>
					</div>
                    <div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Description</label>
								<input class="form-control" type="text" name="divDesc" id="divDesc" disabled>
							</div>
						</div>
					</div>
					<div class="m-t-20 text-center">
				    	<button class="btn btn-primary" onclick="return delConfirm()" type="submit">Delete Data</button>
					</div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/select2.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/moment.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap-datetimepicker.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/plugins/summernote/dist/summernote.min.js') }}"></script>
        <script>
		$(document).ready(function(){
			$('.summernote').summernote({
				height: 200,                 // set editor height
				minHeight: null,             // set minimum height of editor
				maxHeight: null,             // set maximum height of editor
				focus: false                 // set focus to editable area after initializing summernote
			});
		});

		var divDetail = JSON.parse({{ divDetail|tojson|safe }})
		document.getElementById('divNo').value = divDetail[0]['division_id'];
		document.getElementById('dept').value = divDetail[0]['department_id'];
		document.getElementById('divName').value = divDetail[0]['division_name'];
		document.getElementById('divDesc').value = divDetail[0]['description'];

		function delConfirm() {
            if (!confirm("Are you sure want to delete this?")) {
                return false;
            }
		}
        </script>
{% endblock %}