{% extends "base/index.html" %}
{% block title %}Detail Client{% endblock %}
{% block stylecss %}
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/buttonstyle.css') }}">
{% endblock %}
{{ super() }}
{% block webcontent %}
			<div class="page-wrapper">
                <div class="content container-fluid">
					<div class="row">
						<div class="col-sm-8">
							<h4 class="page-title">My Profile</h4>
						</div>
						<div class="col-sm-4 text-right m-b-30">
							<a href="{{ url_for('userMainHome') }}" class="btn btn-primary rounded"><i class="fa fa-arrow-left"></i> Back</a>
						</div>
					</div>
					{% for client in getDetClient %}
					<div class="card-box m-b-0">
						<div class="row">
							<div class="col-md-12">
								<div class="profile-view">
									<div class="profile-img-wrap">
										<div class="profile-img">
											<a href=""><img class="avatar" src="{{ url_for('static', filename='assets/img/user.jpg') }}" alt=""></a>
										</div>
									</div>
									<div class="profile-basic">
										<div class="row">
											<div class="col-md-5">
												<div class="profile-info-left">
													<br><br>
													<h3 class="user-name m-t-0">{{ client.name }}</h3>
													<h5 class="company-role m-t-0 m-b-0">{{ client.email }}</h5>
													<br><br><br><br>
												</div>
											</div>
											<div class="col-md-7">
												<ul class="personal-info">
													<li>
														<span class="title">Client Customer:</span>
														<span class="text">{{ client.name }}</span>
													</li>
													<li>
														<span class="title">Client Code:</span>
														<span class="text">{{ client.client_code }}</span>
													</li>
													<li>
														<span class="title">Client Address:</span>
														<span class="text">{{ client.address }}, {{ client.city_name }}</span>
													</li>
													<li>
														<span class="title">Client Email:</span>
														<span class="text">{{ client.email }}</span>
													</li>
													<li>
														<span class="title">PIC Name:</span>
														<span class="text">{{ client.pic_name }}</span>
													</li>
													<li>
														<span class="title">PIC Email:</span>
														<span class="text"><a href="">{{ client.pic_email }}</a></span>
													</li>
													<li>
														<span class="title">PIC Number:</span>
														<span class="text">{{ client.pic_number }}</span>
													</li>

												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					<div class="card-box tab-box">
						<div class="row user-tabs">
							<div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
								<ul class="nav nav-tabs tabs nav-tabs-bottom">
									<li class="active col-sm-3"><a data-toggle="tab" href="#myprojects">My Projects</a></li>
									<li class="col-sm-3"><a data-toggle="tab" href="#tasks">Tasks</a></li>
								</ul>
							</div>
						</div>
					</div>
                    <div class="row">
                        <div class="col-lg-12">
							<div class="tab-content  profile-tab-content">
								<div id="myprojects" class="tab-pane fade in active">
									<div class="row">
										<div class="col-lg-3 col-sm-4">
											<div class="card-box project-box">
												<div class="dropdown profile-action">
													<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
													<ul class="dropdown-menu pull-right">
														<li><a href="#" data-toggle="modal" data-target="#edit_project"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
														<li><a href="#" data-toggle="modal" data-target="#delete_project"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
													</ul>
												</div>
												<h4 class="project-title"><a href="project-view.html">Food and Drinks</a></h4>
												<small class="block text-ellipsis m-b-15">
													<span class="text-xs">1</span> <span class="text-muted">open tasks, </span>
													<span class="text-xs">9</span> <span class="text-muted">tasks completed</span>
												</small>
												<p class="text-muted">Lorem Ipsum is simply dummy text of the printing and
													typesetting industry. When an unknown printer took a galley of type and
													scrambled it...
												</p>
												<div class="pro-deadline m-b-15">
													<div class="sub-title">
														Deadline:
													</div>
													<div class="text-muted">
														8 Sep 2017
													</div>
												</div>
												<div class="project-members m-b-15">
													<div>Project Leader :</div>
													<ul class="team-members">
														<li>
															<a href="#" data-toggle="tooltip" title="Jeffery Lalor"><img src="{{ url_for('static', filename='assets/img/user.jpg') }}" alt="Jeffery Lalor"></a>
														</li>
													</ul>
												</div>
												<div class="project-members m-b-15">
													<div>Team :</div>
													<ul class="team-members">
														<li>
															<a href="#" data-toggle="tooltip" title="John Doe"><img src="{{ url_for('static', filename='assets/img/user.jpg') }}" alt="John Doe"></a>
														</li>
														<li>
															<a href="#" data-toggle="tooltip" title="Richard Miles"><img src="{{ url_for('static', filename='assets/img/user.jpg') }}" alt="Richard Miles"></a>
														</li>
														<li>
															<a href="#" data-toggle="tooltip" title="John Smith"><img src="{{ url_for('static', filename='assets/img/user.jpg') }}" alt="John Smith"></a>
														</li>
														<li>
															<a href="#" data-toggle="tooltip" title="Mike Litorus"><img src="{{ url_for('static', filename='assets/img/user.jpg') }}" alt="Mike Litorus"></a>
														</li>
													</ul>
												</div>
												<p class="m-b-5">Progress <span class="text-success pull-right">40%</span></p>
												<div class="progress progress-xs m-b-0">
													<div class="progress-bar progress-bar-success" role="progressbar" data-toggle="tooltip" title="40%" style="width: 40%"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="tasks" class="tab-pane fade">
									<div class="project-task">
										<div class="tabbable">
											<ul class="nav nav-tabs nav-tabs-top nav-justified m-b-0">
												<li class="active"><a href="#all_tasks" data-toggle="tab" aria-expanded="true">All Tasks</a></li>
												<li><a href="#pending_tasks" data-toggle="tab" aria-expanded="false">Pending Tasks</a></li>
												<li><a href="#completed_tasks" data-toggle="tab" aria-expanded="false">Completed Tasks</a></li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="all_tasks">
													<div class="task-wrapper">
														<div class="task-list-container">
															<div class="task-list-body">
																<ul id="task-list">
																	<li class="task">
																		<div class="task-container">
																			<span class="task-action-btn task-check">
																				<button type="button" class="btn btn-default btn-circle" disabled>
																					<i class="fa fa-check"></i>
																				</button>
																			</span>
																			<span class="task-label">Patient appointment booking</span>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="pending_tasks">
													<div class="task-wrapper">
														<div class="task-list-container">
															<div class="task-list-body">
																<ul id="task-list">
																	<li class="task">
																		<div class="task-container">
																			<span class="task-action-btn task-check">
																				<button type="button" class="btn btn-warning btn-circle" disabled>
																					<i class="fa fa-check"></i>
																				</button>
																			</span>
																			<span class="task-label">Doctor available module</span>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="completed_tasks">
													<div class="task-wrapper">
														<div class="task-list-container">
															<div class="task-list-body">
																<ul id="task-list">
																	<li class="task">
																		<div class="task-container">
																			<span class="task-action-btn task-check">
																				<button type="button" class="btn btn-success btn-circle" disabled>
																					<i class="fa fa-check"></i>
																				</button>
																			</span>
																			<span class="task-label">Kick Of Meeting</span>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
{% endblock %}
{% block js %}
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
		<script type="text/template" id="task-template">
			<li class="task">
				<div class="task-container">
					<span class="task-action-btn task-check">
						<span class="action-circle large complete-btn" title="Mark Complete">
							<i class="material-icons">check</i>
						</span>
					</span>
					<span class="task-label" contenteditable="true"></span>
					<span class="task-action-btn task-btn-right">
						<span class="action-circle large" title="Assign">
							<i class="material-icons">person_add</i>
						</span>
						<span class="action-circle large delete-btn" title="Delete Task">
							<i class="material-icons">delete</i>
						</span>
					</span>
				</div>
			</li>
		</script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/task.js') }}"></script>
{% endblock %}