{% extends "base/index.html" %}
{% block title %}Detail Project View{% endblock %}
{% block stylecss %}
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/select2.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap-datetimepicker.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
        <style>
            textarea {
                resize: none;
            }
        </style>
{% endblock %}
{{ super() }}
{% block webcontent %}
		<div class="page-wrapper">
			<div class="content container-fluid">
					<div class="row">
						<div class="col-xs-8">

							<h4 class="page-title">Task Name</h4>
						</div>
						<div class="col-sm-4 text-right m-b-30">
							<a href="{{ url_for('projectTaskList') }}" class="btn btn-primary rounded" data-toggle="modal"><i class="fa fa-arrow-left"></i> Back</a>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-9">
							<div class="panel">
								<div class="panel-body">

									<div class="project-title">
										<h5 class="panel-title">Task Description</h5>

									</div>
									<p>descripsi</p>

								</div>
							</div>

							<div class="panel">
								<div class="panel-body">
									<h5 class="panel-title m-b-20">Uploaded files <a class="pull-right btn btn-primary btn-xs" data-toggle="modal" data-target="#upload_document"><i class="fa fa-plus"></i> Upload Document</a></h5>
									<ul class="files-list">
										<li>
                                            <h5>Kick Off Document</h5>
											<div class="files-cont">
												<div class="file-type">
													<span class="files-icon"><i class="fa fa-file-pdf-o"></i></span>
												</div>
												<div class="files-info">
													<span class="file-name text-ellipsis"><a href="#">AHA Selfcare Mobile Application Test-Cases.xls</a></span>
													<span class="file-author"><a href="#">John Doe</a></span> <span class="file-date">May 31st at 6:53 PM</span>
													<div class="file-size">Size: 14.8Mb</div>
												</div>
												<ul class="files-action">
													<li class="dropdown">
														<a href="" class="dropdown-toggle btn btn-default btn-xs" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
														<ul class="dropdown-menu">
															<li><a href="javascript:void(0)">Download</a></li>
														</ul>
													</li>
												</ul>
											</div>
										</li>
										<li>
                                            <h5>Planning Document</h5>
											<div class="files-cont">
												<div class="file-type">
													<span class="files-icon"><i class="fa fa-file-pdf-o"></i></span>
												</div>
												<div class="files-info">
													<span class="file-name text-ellipsis"><a href="#">AHA Selfcare Mobile Application Test-Cases.xls</a></span>
													<span class="file-author"><a href="#">Richard Miles</a></span> <span class="file-date">May 31st at 6:53 PM</span>
													<div class="file-size">Size: 14.8Mb</div>
												</div>
												<ul class="files-action">
													<li class="dropdown">
														<a href="" class="dropdown-toggle btn btn-default btn-xs" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
														<ul class="dropdown-menu">
															<li><a href="javascript:void(0)">Download</a></li>
														</ul>
													</li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
							</div>
                            <div class="panel">
								<div class="panel-body">
                                    <div class="project-title">
										<h5 class="panel-title">Task Note <a class="pull-right btn btn-primary btn-xs" id="addTask"><i class="fa fa-plus"></i> Add Note</a></h5>

									</div>
                                    <p>None</p>

                                    <select class="form-control">
                                        <option value="0">-- Approve Task Complete --</option>
                                        <option>On Going</option>
                                        <option>Done</option>
                                    </select>

								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="panel">
								<div class="panel-body">
									<h6 class="panel-title m-b-15">Task details</h6>
									<table class="table table-striped table-border">
										<tbody>

											<tr>
												<td>Client:</td>
												<td class="text-right">
													<input type="hidden" name="project_id" id="project_id" value="">
												</td>
											</tr>
											<tr>
												<td>PID:</td>
												<td class="text-right">PID</td>
											</tr>
											<tr>
												<td>Task Category:</td>
												<td class="text-right">mandayas</td>
											</tr>
											<tr>
												<td>Task Name:</td>
												<td class="text-right">tanggal</td>
											</tr>
											<tr>
												<td>Start Task:</td>
												<td class="text-right">tanggal</td>
											</tr>
                                            <tr>
												<td>End Task:</td>
												<td class="text-right">tanggal</td>
											</tr>
                                            <tr>
                                                <td>Task Status:</td>
                                                <td class="text-right">On Going</td>
                                            </tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="panel project-user">
								<div class="panel-heading">
									<h6 class="panel-title">Team Task <a class="pull-right btn btn-primary btn-xs" data-toggle="modal" data-target="#assign_user"><i class="fa fa-plus"></i> Add</a></h6>
								</div>
								<div class="panel-body">
									<ul class="list-box">

										<li>
											<a href="profile.html">
												<div class="list-item">
													<div class="list-left">
														<span class="avatar">L</span>
													</div>
													<div class="list-body">
														<span class="message-author">Linggar Kurniawan</span>
														<div class="clearfix"></div>
														<span class="message-content">Staff</span>
													</div>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
                </div>
        </div>

		<div id="assign_user" class="modal custom-modal fade center-modal" role="dialog">
			<div class="modal-dialog">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="modal-content">
						<div class="modal-header">
							<h3 class="modal-title">Assign the user to this project</h3>
						</div>
						<div class="modal-body">
							<div class="input-group m-b-30">
								<input placeholder="Search a user to assign" class="form-control search-input input-lg" id="btn-input" type="text">
								<span class="input-group-btn">
									<button class="btn btn-primary btn-lg">Search</button>
								</span>
							</div>
							<div>
								<ul class="media-list media-list-linked chat-user-list">
									{% for team in all_team %}
									<li class="media">
										<a href="#" class="media-link">
											<div class="media-left">

												<input type="checkbox" value="{{ team.employee_id }}" class="team_project" name="team{{ team.employee_id }}" id="team{{ team.employee_id }}"
												{% if team.project_id == project_id %}
												checked
												{% endif %}
												>

											</div>
											<div class="media-left"><span class="avatar">{{ team.initial }}</span></div>
											<div class="media-body media-middle text-nowrap">
												<div class="user-name">{{ team.firstname }} {{ team.lastname }}</div>
												<span class="designation">{{ team.title_name }} | </span>
												<span class="designation">{{ team.email }}</span>
											</div>
										</a>
									</li>
									{% endfor %}
								</ul>
							</div>
							<div class="m-t-50 text-center">
								<input class="form-control" id="employee_seleted" type="hidden" name="employee_seleted">
								<input class="form-control" id="employee_unseleted" type="hidden" name="employee_unseleted">
								<button class="btn btn-primary btn-lg" id="addTeamProject">Add User</button>
							</div>
						</div>
					</div>
				</div>
		</div>
        <div id="upload_document" class="modal custom-modal fade center-modal" role="dialog">
			<div class="modal-dialog">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="modal-content">
						<div class="modal-header">
							<h3 class="modal-title">Note Task Progress</h3>
						</div>
						<div class="modal-body">
							<div>
								<ul class="media-list media-list-linked chat-user-list">
									<textarea rows="10" cols="83"></textarea>
								</ul>

							</div>
							<div class="m-t-50 text-center">
								<button class="btn btn-primary btn-lg" id="addNoteTask">Add Note</button>
							</div>
						</div>
					</div>
				</div>
		</div>

{% endblock %}
{% block js %}
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
		<!--<script type="text/javascript" src="{{ url_for('static', filename='assets/js/sweetalert.min.js') }}"></script>-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet"/>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/select2.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/moment.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap-datetimepicker.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
		<script type="text/template" id="task-template">
			<li class="task">
				<div class="task-container">
					<span class="task-action-btn task-check">
						<span class="action-circle large complete-btn" title="Mark Complete">
							<i class="material-icons">check</i>
						</span>
					</span>
					<span class="task-label" contenteditable="true"></span>
					<span class="task-action-btn task-btn-right">
						<span class="action-circle large" title="Assign">
							<i class="material-icons">person_add</i>
						</span>
						<span class="action-circle large delete-btn" title="Delete Task">
							<i class="material-icons">delete</i>
						</span>
					</span>
				</div>
			</li>
		</script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/task.js') }}"></script>
		<script type="text/javascript">

		    $(document).ready(function(){
		        $('#addTask').click(function(){
		            swal({
                    title: "Add Note Task",
                    text: "<textarea id='note_text' rows='10' cols='50'></textarea>",
                    html: true,
                    showCancelButton: true,
                    confirmButtonColor: "#008000",
                    confirmButtonText: "Yes, Submit Note",
                    cancelButtonText: "No, cancel!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                    },
                    function (isConfirm) {
                    if (isConfirm) {
                    var note = document.getElementById('note_text').value;
                    swal({
                        title: "Enter Note Task",
                        text: "Your row has been deleted."+ note,
                        type: "success",
                        timer: 3000
                        });
                    }
                    else {
                    swal("Cancelled", "You Canceled", "info");
                    }
                    });
		        });
		    });

			var checkMember = new Array();
			var uncheckMember = new Array();
			var project_id = document.getElementById('project_id').value;
			$("input:checkbox").change(function(){
				if ($(this).is(":checked")){
					var employee_id = document.getElementById($(this).attr("id")).value;
					checkMember.push(employee_id);
					document.getElementById('employee_seleted').value = checkMember.join();
					employee_id = document.getElementById('employee_seleted').value;
					console.log(employee_id);
					data_user = {
						'project_id': project_id,
						'employee_id': employee_id
					}
					json_data_user = JSON.stringify(data_user);
					$.ajax({
							url: '{{ url_for('addTeamProject') }}',
							type: 'POST',
							contentType: 'application/json;charset=UTF-8',
							data: json_data_user,
							success: function(data){
								console.log("Success Delete");
								checkMember = [];
							},
							error: function(data){
								console.log("Failed Delete");
								checkMember = [];
							}
						});

				}else{
					var employee_id = document.getElementById($(this).attr("id")).value;
					uncheckMember.push(employee_id);
					document.getElementById('employee_unseleted').value = uncheckMember.join();
					employee_id = document.getElementById('employee_unseleted').value;
					console.log(employee_id);
					data_user = {
							'project_id': project_id,
							'employee_id': employee_id
						}
					json_data_user = JSON.stringify(data_user);
						$.ajax({
							url: '{{ url_for('removeTeamProject') }}',
							type: 'POST',
							contentType: 'application/json;charset=UTF-8',
							data: json_data_user,
							success: function(data){
								console.log("Success Delete");
								uncheckMember = [];
							},
							error: function(data){
								console.log("Failed Delete");
								uncheckMember = [];
							}
						});
				}
			});

			$(document).ready(function(){
				$('#addTeamProject').click(function(){
					swal({
    					title: 'Information',
    					text: 'Update Team Project Member',
    					type: 'info',
    					allowOutsideClick: true,
    					html: true
						},
						function () {
    						$('#assign_user').modal('hide');
    						location.reload(true);
					});
				});
			});
		</script>
{% endblock %}