{% extends "base/index.html" %}
{% block title %}Main Project{% endblock %}
{% block stylecss %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/select2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
{% endblock %}
{{ super() }}
{% block webcontent %}
    <div class="page-wrapper">
                <div class="content container-fluid">
					<a href="{{ url_for('emplAll') }}"><button type="button" class="close" data-dismiss="modal">&times;</button></a>

						<div class="modal-header">
							<h4 class="modal-title">Edit Employee</h4>
						</div>
						<div class="modal-body">
							<form role="form" id="addEmpNew" enctype="multipart/form-data">
								<!--basic Information-->
								<div class="card-box">
									<h3 class="card-title">Basic Informations</h3>
									<div class="row">
									<div class="col-md-12">
										<div class="profile-img-wrap">
											<img class="inline-block" src="{{ url_for('static', filename='assets/img/user.jpg') }}" alt="user">
											<div class="fileupload btn btn-default">
												<span class="btn-text">edit</span>
												<input class="upload" type="file">
											</div>
										</div>
										<div class="profile-basic">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group form-focus">
														<label class="control-label">First Name</label>
														<input type="text" class="form-control floating" name="fname" id="fname"/>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group form-focus">
														<label class="control-label">Last Name</label>
														<input type="text" class="form-control floating" name="lname" id="lname"/>
													</div>
												</div>
												<div class="col-md-6">
											<div class="form-group form-focus">
												<label class="control-label">Birth Date</label>
												<div class="cal-icon"><input class="form-control floating datetimepicker" type="text" name="birth" id="birth"/></div>
											</div>
										</div>
												<div class="col-md-6">
													<div class="form-group form-focus select-focus">
														<label class="control-label">Gendar</label>
														<select class="select form-control floating" name="gender" id="gender">
															<option value="0">Select Gendar</option>
															<option value="Male">Male</option>
															<option value="Female">Female</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div></div>
								</div>
								<!--contact information-->
								<div class="card-box">
									<h3 class="card-title">Contact Informations</h3>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group form-focus">
												<label class="control-label">Address</label>
												<input type="text" class="form-control floating" name="address" id="address"/>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-focus">
												<label class="control-label">Province</label>
												<select class="select form-control floating" name="province" id="province">
													<option value="0">Select Province</option>
													{% for prov in province %}
													<option value="{{ prov.province_id }}">{{ prov.province_name }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-focus">
												<label class="control-label">City</label>
												<select class="select from control floating" name="city" id="city">
													<option value="0">Select City</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-focus">
												<label class="control-label">Pin Code</label>
												<input type="text" class="form-control floating" id="pincode" name="pincode"/>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-focus">
												<label class="control-label">Phone Number</label>
												<input type="text" class="form-control floating" name="phone" id="phone"/>
											</div>
										</div>
									</div>
								</div>
								<!--Information Team-->
								<div class="card-box">
									<h3 class="card-title">Information Team</h3>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group form-focus">
												<label class="control-label">NIK</label>
												<input type="text" class="form-control floating" name="nik" id="nik"/>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-focus">
												<label class="control-label">Email</label>
												<input type="email" class="form-control floating" name="email" id="email"/>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-focus">
												<label class="control-label">Password</label>
												<input type="password" class="form-control floating" name="password" id="password"/>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-focus">
												<label class="control-label">Repeat Password</label>
												<input type="password" class="form-control floating" id="repeat_password" name="repeat_password"/>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-focus select-focus">
												<label class="control-label">Division</label>
												<select class="select form-control floating" name="division" id="division">
													<option value="0">Select Division</option>
													{% for dept in deptName %}
													<option value="{{ dept.division_id }}">{{ dept.division_name }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-focus select-focus">
												<label class="control-label">Job Title</label>
												<select class="select form-control floating" name="job_title" id="job_title">
													<option value="0">Select Job Title</option>
													{% for job in titleName %}
													<option value="{{ job.empTitle_id }}">{{ job.title_name }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-focus">
												<label class="control-label">Join Date</label>
												<div class="cal-icon"><input type="text" class="form-control floating datetimepicker" name="join_date" id="join_date"/></div>
											</div>
										</div>
									</div>
								</div>

								<div class="text-center m-t-20">
									<button class="btn btn-primary btn-lg" type="button" id="addEmployee" name="addEmployee">Submit</button>
								</div>
							</form>

					</div>
                </div>
            </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-3.2.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/sweetalert.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/select2.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/moment.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap-datetimepicker.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
	<script type="text/javascript">

		$(document).ready(function(){
			$("#province").change(function(){
				var prov = $(this).val();

				$.ajax({
					type: "GET",
					url: "http://localhost:14045/city/detail/"+prov,
					success: function(res){
						data = JSON.parse(res);
						console.log(data[0]);
						console.log(data.length);

						(function() {
    						var elm = document.getElementById('city'),
        						df = document.createDocumentFragment();
        						$('#city')
    							.find('option')
    							.remove()
    							.end();
    						for (var i = 0; i < data.length; i++) {
        						var option = document.createElement('option');
        						option.value = data[i]['city_code'];
        						option.appendChild(document.createTextNode(data[i]['city_name']));
        						df.appendChild(option);
    						}
    						elm.appendChild(df);
							}());
					}
				});
			});
		});

	$(function(){
    $('#addEmployee').click(function(){
    	event.preventDefault();
       	var form_data = new FormData($('#addEmpNew')[0]);
        $.ajax({
            url: '{{ url_for('empAdd') }}',
            data: $('form').serialize(),
            type: 'POST',
            success: function(data){
                JSalert();
                function JSalert(){
                    swal("Congrats!", " Data Success created to System ", "success")
                    .then(willRedirect => {
                        if (willRedirect){
                            window.location.href = "{{ url_for('emplAll') }}";
                            }
                    });
                }
            },
            error: function(data){
                console.log(data);
            }
        });
    });
});
	</script>
{% endblock %}