{% extends "base/index.html" %}
{% block title %}Edit Client{% endblock %}
{% block stylecss %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/select2.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap-datetimepicker.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/plugins/summernote/dist/summernote.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
{% endblock %}
{{ super() }}
{% block webcontent %}
<div class="page-wrapper">
	<div class="content container-fluid">
        <div class="">
            <a href="{{ url_for('divAll') }}"><button type="button" class="btn btn-primary">Back</button></a>
        </div>
        <div class="modal-body">
		    <div class="m-b-30">
                <form role="form" id="updateDiv" >
					<div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
							    <label>Department <span class="text-danger">*</span></label>
								<input type="hidden" id="divNo" name="divNo" class="from-control">
								<select class="select" name="dept" id="dept">
									<option value="0">-- Select Department --</option>
							    	{% for deptName in deptName %}
									<option value="{{ deptName.department_id }}">{{ deptName.department_name }}</option>
									{% endfor %}
								</select>
							</div>
                        </div>
						<div class="col-md-6">
						<div class="form-group">
                            <label>Division Name <span class="text-danger">*</span></label>
							<input class="form-control" type="text" id="divName" name="divName">
						</div>
					    </div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Description<span class="text-danger">*</span></label>
								<input class="form-control" type="text" name="divDesc" id="divDesc">
							</div>
						</div>
					</div>
					<div class="m-t-20 text-center">
				    	<button class="btn btn-primary" type="button" id="updDiv" name="updDiv">Save Changes</button>
					</div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/select2.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/moment.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap-datetimepicker.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/plugins/summernote/dist/summernote.min.js') }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet"/>
        <script>
		$(document).ready(function(){
			$('.summernote').summernote({
				height: 200,                 // set editor height
				minHeight: null,             // set minimum height of editor
				maxHeight: null,             // set maximum height of editor
				focus: false                 // set focus to editable area after initializing summernote
			});
		});

		var divDetail = JSON.parse({{ divDetail|tojson|safe }});
		console.log(divDetail);
		document.getElementById('divNo').value = divDetail[0]['division_id'];
		document.getElementById('dept').value = divDetail[0]['department_id'];
		document.getElementById('divName').value = divDetail[0]['division_name'];
		document.getElementById('divDesc').value = divDetail[0]['description'];

		$(document).ready(function(){
			$('#updDiv').click(function(){
				var divNo = document.getElementById('divNo').value;
				var deptNo = document.getElementById('dept').value;
				var divName = document.getElementById('divName').value;
       			var divDesc = document.getElementById('divDesc').value;

       			// start of validation
				if(deptNo == 0){
					swal("Sorry!", " Departement must be selected.. ", "warning")
	            	var cursor = document.getElementById('department_name');cursor.focus();
					return false;
				} else if(divName == ""){
					swal("Sorry!", " Division Name must be filled out.. ", "warning")
					var cursor = document.getElementById('description');cursor.focus();
	        		return false;
				}else if(divDesc == ""){
					swal("Sorry!", " Description must be filled out.. ", "warning")
					var cursor = document.getElementById('description');cursor.focus();
        			return false;
				}

				data_div = {
					'divNo': divNo,
					'deptNo': deptNo,
					'divName': divName,
					'divDesc': divDesc
				}
				json_dataDiv = JSON.stringify(data_div);

				$.ajax({
            	type: 'POST',
           		url: '{{ url_for('divUpdate') }}',
            	contentType: 'application/json;charset=UTF-8',
            	data: json_dataDiv,
            	success: function(data){
                	var response = JSON.parse(data);
                	console.log(response);
                	console.log(response['code']);
                	if (response['code'] == 200){
                        swal({
    							title: 'Success',
    							text: 'Update Division Detail Success',
    							type: 'success',
    							allowOutsideClick: true,
    							html: true
								},
								function () {
    							window.location.href = "{{ url_for('divAll') }}"
							});
                	}
            	},
            	error: function(data){
                	console.log(data);
            	}
        	});
    });
});
        </script>
{% endblock %}