{% extends "base/index.html" %}
{% block title %}{% endblock %}
{% block stylecss %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/select2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
{% endblock %}
{{ super() }}
{% block webcontent %}
    <div class="page-wrapper">
        <div class="content container-fluid">
			<div class="">
            	<a href="{{ url_for('problemAll') }}"><button type="button" class="btn btn-primary">Back</button></a>
        	</div>
			<div class="modal-body">
				<form>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Project Client</label>
								<input type="text" class="form-control" id="client_name" name="client_name" disabled>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Project ID</label>
								<input type="text" class="form-control" id="pid" name="pid" disabled>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>PRL Name</label>
								<input type="text" class="form-control" name="prl_name" id="prl_name">
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Start Date</label>
								<div class="cal-icon"><input class="form-control datetimepicker" type="text" id="start_date" name="start_date"></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>End Date</label>
								<div class="cal-icon"><input class="form-control datetimepicker" style="" type="text" id="end_date" name="end_date"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Problem Name</label>
								<input placeholder="Task name" class="form-control" type="text" id="task_name" name="task_name" disabled>
							</div>
						</div>

					</div>
					<div class="form-group">
						<label>Description</label>
						<textarea rows="4" cols="5" class="form-control summernote" placeholder="Enter your message here" id="desc" name="desc"></textarea>
					</div>
					<div class="m-t-20 text-center">
						<input type="hidden" name="problem_id" id="problem_id">
						<button class="btn btn-primary" id="updateProblem">Update Problem</button>
					</div>
				</form>
			</div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/dataTables.bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/select2.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/moment.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap-datetimepicker.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
	<script>
		var probleDetail = JSON.parse({{ getProblem|tojson|safe }})

		document.getElementById('problem_id').value = probleDetail[0]['problem_log_id'];
		document.getElementById('client_name').value = probleDetail[0]['name'];
		document.getElementById('pid').value = probleDetail[0]['pid'];
		document.getElementById('prl_name').value = probleDetail[0]['problem_name'];
		document.getElementById('start_date').value = probleDetail[0]['start_date'];
		document.getElementById('end_date').value = probleDetail[0]['end_date'];
		document.getElementById('task_name').value = probleDetail[0]['problem_task'];
		document.getElementById('desc').value = probleDetail[0]['description'];

		$(document).ready(function(){
			$('#updateProblem').click(function(){
				var problemid = document.getElementById('problem_id').value;
				var prl_name = document.getElementById('prl_name').value;
				var start_date = document.getElementById('start_date').value;
				var end_date = document.getElementById('end_date').value;
				var desc = document.getElementById('desc').value;

				problem_data = {
					'problemid': problemid,
					'prl_name': prl_name,
					'start_date': start_date,
					'end_date': end_date,
					'desc': desc
				}
				json_problem_data = JSON.stringify(problem_data);
				console.log(json_problem_data);
			});
		});
	</script>
{% endblock %}