{% extends "base/index.html" %}
{% block title %}Dasboard{% endblock %}
{% block stylecss %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/plugins/morris/morris.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
{% endblock %}
{{ super() }}
{% block webcontent %}
<div class="page-wrapper">
<div class="content container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="dash-widget clearfix card-box">
                <span class="dash-widget-icon"><i class="fa fa-cubes" aria-hidden="true"></i></span>
                <div class="dash-widget-info">
                    <h3>{{ getProject }}</h3>
                    <span>Projects</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="dash-widget clearfix card-box">
                <span class="dash-widget-icon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                <div class="dash-widget-info">
                    <h3>{{ getClient }}</h3>
                    <span>Clients</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="dash-widget clearfix card-box">
                <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
                <div class="dash-widget-info">
                    <h3>{{ getTask }}</h3>
                    <span>Tasks</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="dash-widget clearfix card-box">
                <span class="dash-widget-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <div class="dash-widget-info">
                    <h3>{{ getTaskPending }}</h3>
                    <span>Tasks Pending</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <div class="card-box">
                        <div id="area-chart" ></div>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="card-box">
                        <div id="line-chart"></div>
                    </div>
                </div>
                <div  class="col-md-4 col-sm-12 text-center">
                    <div class="card-box">
                        <div id="bar-chart" ></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 text-center">
                    <div class="card-box">
                        <div id="stacked" ></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 text-center">
                    <div class="card-box">
                        <div id="pie-chart" ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block js %}

        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/plugins/morris/morris.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/plugins/raphael/raphael-min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
		<script>
				var data = [
			  { y: '2014', a: 50, b: 90},
			  { y: '2015', a: 65,  b: 75},
			  { y: '2016', a: 50,  b: 50},
			  { y: '2017', a: 75,  b: 60},
			  { y: '2018', a: 80,  b: 65}

			],
			config = {
			  data: data,
			  xkey: 'y',
			  ykeys: ['a', 'b'],
			  labels: ['Total Project', 'Total Task'],
			  fillOpacity: 0.6,
			  hideHover: 'auto',
			  behaveLikeLine: true,
			  resize: true,
			  pointFillColors:['#ffffff'],
			  pointStrokeColors: ['black'],
				gridLineColor: '#eef0f2',
			  lineColors:['gray','#00c5fb']
		  };
		config.element = 'area-chart';
		Morris.Area(config);
		config.element = 'line-chart';
		Morris.Line(config);
		config.element = 'bar-chart';
		Morris.Bar(config);
		config.element = 'stacked';
		config.stacked = true;
		Morris.Bar(config);
		Morris.Donut({
		  element: 'pie-chart',
		  data: [
			{label: "Employees", value: {{ getEmployee }}},
			{label: "Clients", value: {{ getClient }}},
			{label: "Projects", value: {{ getProject }}},
			{label: "Tasks", value: {{ getTask }}}
		  ]
		});
		</script>
{% endblock %}