{% extends "base/index.html" %}
{% block title %}Main Client{% endblock %}
{% block stylecss %}
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/select2.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
{% endblock %}
{{ super() }}
{% block webcontent %}
<div class="page-wrapper">
	<div class="content container-fluid">
		<div class="row">
			<div class="col-sm-4 col-xs-3">
				<h4 class="page-title">Clients</h4>
			</div>
			<div class="col-sm-8 col-xs-9 text-right m-b-20">
				<a href="#" class="btn btn-primary rounded pull-right" data-toggle="modal" data-target="#add_client"><i class="fa fa-plus"></i> Add Client</a>
				<div class="view-icons">
					<a href="{{ url_for('userMainHome') }}" class="grid-view btn btn-link active"><i class="fa fa-th"></i></a>
					<a href="{{ url_for('userMainHomeList') }}" class="list-view btn btn-link"><i class="fa fa-bars"></i></a>
				</div>
			</div>
		</div>
		<div class="row filter-row">
			<div class="col-sm-3 col-xs-6">
				<div class="form-group form-focus">
					<label class="control-label">Client ID</label>
					<input type="text" class="form-control floating" />
				</div>
			</div>
			<div class="col-sm-3 col-xs-6">
				<div class="form-group form-focus">
					<label class="control-label">Client Name</label>
					<input type="text" class="form-control floating" />
				</div>
			</div>
			<div class="col-sm-3 col-xs-6">
				<div class="form-group form-focus select-focus">
					<label class="control-label">Company</label>
					<select class="select floating">
						<option value="">Select Company</option>
						<option value="">Global Technologies</option>
						<option value="1">Delta Infotech</option>
					</select>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6">
				<a href="#" class="btn btn-success btn-block"> Search </a>
			</div>
		</div>
		<div class="row staff-grid-row">
			{% for client in pic_name %}
			<div class="col-md-4 col-sm-4 col-xs-6 col-lg-3">
				<div class="profile-widget">
					<div class="profile-img">
						<a href="{{ url_for('userClientDetail',clientid=client.client_id) }}" class="avatar">G</a>
					</div>
					<div class="dropdown profile-action">
						<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
						<ul class="dropdown-menu pull-right">
							<li><a href="{{ url_for('userEditClient') }}" data-toggle="modal"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
							<li><a href="#" data-toggle="modal" data-target="#delete_client"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
						</ul>
					</div>
					<h4 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="{{ url_for('userClientDetail',clientid=client.client_id) }}">{{ client.name }}</a></h4>
					<h5 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="{{ url_for('userClientDetail',clientid=client.client_id) }}">{{ client.email }}</a></h5>
					<h5 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="{{ url_for('userClientDetail',clientid=client.client_id) }}">{{ client.address }}</a></h5>
					<br>
					<div class="small text-muted">PIC Client: {{ client.pic_name }}</div>
					<a href="{{ url_for('userClientDetail',clientid=client.client_id) }}" class="btn btn-default btn-sm m-t-10">View Profile</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
			<div id="add_client" class="modal custom-modal fade" role="dialog">
				<div class="modal-dialog">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="modal-content modal-lg">
						<div class="modal-header">
							<h4 class="modal-title">Add Client Customer</h4>
						</div>
						<div class="modal-body">
							<form action="{{ url_for('clientsAdd') }}" method="POST">
								<!--Client Data Information-->
								<div class="card-box">
									<h3 class="card-title">Client Data Informations</h3>
									<div class="row">
									<div class="col-md-12">
										<div class="profile-img-wrap">
											<img class="inline-block" src="{{ url_for('static', filename='assets/img/user.jpg') }}" alt="user">
											<div class="fileupload btn btn-default">
												<span class="btn-text">edit</span>
												<input class="upload" type="file">
											</div>
										</div>
										<div class="profile-basic">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group form-focus">
														<label class="control-label">Client Name</label>
														<input type="text" required=""  class="form-control floating" name="name" id="name"/>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group form-focus">
														<label class="control-label">Client Email</label>
														<input type="text" required=""  class="form-control floating" name="email" id="email"/>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group form-focus">
														<label class="control-label">Address</label>
														<input type="text" required=""  class="form-control floating" name="address" id="address">
													</div>
												</div>
												<div class="col-md-6">
											<div class="form-group form-focus">
												<label class="control-label">Province</label>
												<select class="select form-control floating" name="province" id="province">
													<option value="0">Select Province</option>
													{% for prov in province %}
													<option value="{{ prov.province_id }}">{{ prov.province_name }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
												<div class="col-md-6">
													<div class="form-group form-focus select-focus">
														<label class="control-label">City</label>
														<select class="select form-control floating" name="city" id="city">
															<option value="0">Select City</option>
														</select>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group form-focus">
														<label class="control-label">Client Code</label>
														<input type="text" class="form-control floating" name="client_code" id="client_code" maxlength="4">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group form-focus">
														<label class="control-label">PIC Name</label>
														<input type="text" required=""  class="form-control floating" name="pic_name" id="pic_name">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group form-focus">
														<label class="control-label">PIC Email</label>
														<input type="text" required=""  class="form-control floating" name="pic_email" id="pic_email">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group form-focus">
														<label class="control-label">PIC Phone Number</label>
														<input type="text" required=""  class="form-control floating" name="pic_number" id="pic_number">
													</div>
												</div>

											</div>
										</div>
									</div></div>
								</div>
								<div class="text-center m-t-20">
									<button class="btn btn-primary btn-lg" type="submit">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id="delete_client" class="modal custom-modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content modal-md">
						<div class="modal-header">
							<h4 class="modal-title">Delete Client</h4>
						</div>
						<div class="modal-body card-box">
							<p>Are you sure want to delete this?</p>
							<div class="m-t-20"> <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
								<button type="submit" class="btn btn-danger">Delete</button>
							</div>
						</div>
					</div>
				</div>
			</div>

{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function(){
			$("#province").change(function(){
				var prov = $(this).val();

				$.ajax({
					type: "GET",
					url: "http://localhost:14045/city/detail/"+prov,
					success: function(res){
						data = JSON.parse(res);
						console.log(data[0]);
						console.log(data.length);

						(function() {
    						var elm = document.getElementById('city'),
        						df = document.createDocumentFragment();
        					$('#city')
    							.find('option')
    							.remove()
    							.end();
    						for (var i = 0; i < data.length; i++) {
        						var option = document.createElement('option');
        						option.value = data[i]['city_code'];
        						option.appendChild(document.createTextNode(data[i]['city_name']));
        						df.appendChild(option);
    						}
    						elm.appendChild(df);
							}());
					}
				});
			});
		});

</script>
{% endblock %}
