{% extends "base/index.html" %}
{% block title %}{% endblock %}
{% block stylecss %}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/select2.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
{% endblock %}
{{ super() }}
{% block webcontent %}
	<div class="page-wrapper">
    	<div class="content container-fluid">
			<div class="row">
						<div class="col-sm-8">
							<h4 class="page-title">Report Employee</h4>
						</div>
					</div>
			<div class="row filter-row">
						<div class="col-sm-3 col-xs-6">
							<div class="form-group form-focus select-focus">
								<label class="control-label">Employee Status By</label>
								<select class="select floating">
									<option value="">Select Employee Status</option>
									<option value="">Department Head</option>
									<option value="1">Manager</option>
								</select>
							</div>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="form-group form-focus">
								<label class="control-label">Join Date From</label>
								<div class="cal-icon"><input class="form-control floating datetimepicker" type="text"></div>
							</div>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="form-group form-focus">
								<label class="control-label">Join Date To</label>
								<div class="cal-icon"><input class="form-control floating datetimepicker" type="text"></div>
							</div>
						</div>
						<div class="col-sm-3 col-xs-6">
							<a href="#" class="btn btn-success btn-block"> Search </a>
						</div>
                    </div>
			<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table m-b-0 datatable">
									<thead>
										<tr>
											<th>No</th>
											<th>Nama</th>
											<th>Employee Title</th>
											<th>Joind Date</th>
											<th>Division</th>
											<th>Department</th>
										</tr>
									</thead>
									<tbody>
										<tr>
                                            <td>1</td>
											<td>
												<strong>Linggar Dedi Kurniawan</strong>
											</td>
											<td>Manager</td>
											<td>5 May 2017</td>
											<td>Bank Vision</td>
											<td>Application Core</td>

										</tr>
										<tr>
											<td>2</td>
											<td>
												<strong>Siti Maria Ulfa</strong>
											</td>
											<td>Project Manager</td>
											<td>5 May 2017</td>
											<td>Bank Vision</td>
											<td>Application Core</td>
										</tr>
									</tbody>
								</table>
							</div>
							<img src="{{ url_for('static', filename='assets/img/exel.png') }}" width="20px" height="20px"/>
						</div>
					</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/dataTables.bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/select2.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/moment.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap-datetimepicker.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
{% endblock %}