<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
        <title>{% block title %}{% endblock %}</title>
        {% block stylecss %}{% endblock %}

		<!--[if lt IE 9]>
			<script src="{{ url_for('static', filename='assets/js/html5shiv.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/respond.min.js') }}"></script>
		[endif]-->
    </head>
    <body>
        <div class="main-wrapper">
            <div class="header">
				{% include "base/header.html" %}
            </div>
            <div class="sidebar" id="sidebar">
				{% include "base/menu.html" %}
            </div>
				{% block webcontent %}{% endblock %}
        </div>
		<div class="sidebar-overlay" data-reff="#sidebar"></div>
        {% block js %}{% endblock %}
    </body>
</html>