<div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
        <ul>
            <li>
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
            </li>
            <li>
                <a href="{{ url_for('userMainHome') }}">Clients</a>
            </li>
            <li>
                <a href="{{ url_for('mainProject') }}">Projects</a>
            </li>
            <li>
                <a href="{{ url_for('projectTaskList') }}">Tasks</a>
            </li>
            <li>
                <a href="{{ url_for('dashboard') }}">Problem Log</a>
            </li>
            <li>
                <a href="{{ url_for('projectTimesheet') }}">Time Sheet</a>
            </li>
            <li class="submenu">
                <a href="#"><span> Reports </span> <span class="menu-arrow"></span></a>
                <ul class="list-unstyled" style="display: none;">
                    <li><a href="{{ url_for('reportProject') }}"> Project Report </a></li>
                    <li><a href="{{ url_for('reportTask') }}"> Task Report </a></li>
                    <li><a href="{{ url_for('reportProblem') }}"> Problem Report </a></li>
                    <li><a href="{{ url_for('reportAudit') }}"> Audit Report </a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>